.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    background-color: var(--main-bg-color);
    padding: 10px;
    border: var(--main-color) 1px solid;
    border-radius: 15px;
    
}

.imgContainer {  
    
}

.imgContainer img{
    border-radius: 15px;
    width: 100%;    
    height: 100%;
    object-fit: cover;  
}

.additionalInfo h2 {
    margin: 0;
}

.additionalInfo p {
    margin: 5px 0;
}

.text {
    
}

.readMore {
    width: 100px;
}

.actionButton {
    height: 24px;
    font: 14px/24px var(--main-font);
}
