.wrapper {
    margin: 0 auto;
}

.container {
    display: grid;

    grid-template-columns: repeat(2, minmax(120px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    
}

.item {
    
}

.gallery {
    grid-column: 1 / 3;
}