:root {
  --main-color: #4FD666;
  --main-bg-gradient: linear-gradient(to top right, #3EC97A, #69EA49 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0));
  --border-color: green;
  --main-bg-color: white;
  --main-font: Montserrat;

  --vk-bg-color: #edeef0;
  
}

.app-wrapper {  
  background-color: var(--main-bg-color);
  width: 100%; 
}

.app-wrapper-content {
  grid-area: content;
  background-color: var(--main-bg-color);
  
  padding: 10px;
  
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  

  grid-template-areas:
  "nav content"
  "foot foot";
    grid-template-columns: 154px 1fr;
    grid-template-rows: minmax(1000px, 1fr) 48px;
  
}

@media screen and (max-width: 600px) {
  .app-container {
    grid-template-areas: 
    "content"
    "foot";
    grid-template-columns: 1fr;
  }
}